beautifulsoup4==4.14.3
bs4==0.0.2
certifi==2026.2.25
cftime==1.6.5
charset-normalizer==3.4.4
colorama==0.4.6
idna==3.11
netCDF4==1.7.4
numpy==2.4.2
packaging==26.0
pandas==3.0.1
pycpt==0.0.1
python-dateutil==2.9.0.post0
requests==2.32.5
scipy==1.17.1
six==1.17.0
soupsieve==2.8.3
tqdm==4.67.3
typing_extensions==4.15.0
tzdata==2025.3
urllib3==2.6.3
xarray==2026.2.0
